<% provide(:title, "Supervisor") %>
<% provide(:subpage_title, "Home") %>
<h1>Supervisor Home Page</h1>



<div>
  <% if Micropost.all.any? %>
  
  <h3> Message from Coach Mo and Coach V</h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
   <%= will_paginate @microposts %>
<% end %>
</div>
