<% provide(:title, "Supervisor") %>
<% provide(:subpage_title, "Home") %>
<h1>SupervisorPages#home</h1>
<p>Find me in app/views/supervisor_pages/home.html.erb</p>


<div>
  <% if Micropost.all.any? %>
  
  <h3> Posts (<%= Micropost.all.count %>)</h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
   <%= will_paginate @microposts %>
<% end %>
</div>
