<% provide(:title, "Supervisor") %>
<% provide(:subpage_title, "Rules and Protocols") %>
<h1>Supervisor Rules and Protocols</h1>

<div class="supervisorContainter">
<h5><span class="underlineBold">EXPECTATIONS AND POLICIES</span></h5>

<p><span class="underlineBold, subsectionTitle">Overall Expectations:</span> Supervisors are expected to handle all situations that arise in the Dow promptly and with professionalism. Supervisors will be the adult presence in the building when the Director/Assistant Director is not at the Dow. You are expected to hold your peers accountable when any Dow Center rules or policies are broken, and are to report those to the Director/Assistant Director via the Supervisor Checklist(comments section). You are expected to go on complete rounds every 30 minutes to ensure the safety of all who are using the Dow. Supervisors are expected to deposit money to the Assistant Director whenever the totals surpass the set amount. Supervisors will be held responsible if the Director/Assistant Director hear of infractions by workers that the supervisor allowed, or did not know happened on their shift. It is your responsibility to be aware of employees who are late or do not show, and to do all you can to solve those problems when they arise, and inform the Director/Assistant Director when that happens so appropriate action can take place. The adult who is "on-call" can be contacted if anything happens that is above your jurisdiction, or that you have questions about.</p>

<p>Supervisors must be OSHA Certified and attend Blood borne Pathogen training at the start of the year.</p>

<p><span class="underlineBold">Supervisor Shirts:</span>: Must be on, visible whenever on duty. If not, a strike will be given.</p>

<p> <div class="underlineBold subsectionTitle"> Your Station(when not on rounds):</div><ul>
    <li> <strong>Sit in tablet chiar in the hallway outside of the weight room.</strong> This allows you to see both sets of doors.</li>
    <li><strong>Do not sit in equipment room, or weight-room</strong></li>
    <li><strong>Do not let visitors hang around or sit in chair.</strong></li></ul></p>

<p><div class="underlineBold subsectionTitle">Homework and Entertainment:</div><ul>
    <li><strong>HOMEWORK/ENTERTAINMENT IS A PRIVILEGE.</strong>You must first and foremost do your job and all that it requires, and expect that all other workers to do so as well. Your homework/entertainment should not distract you when there are students/community members who need your assistance, and for that reason, headphones are <strong>NOT ALLOWED</strong> under any circumstances. You are responsible for holding all other workers accountable for this.</li>
    <li><strnog>Content of material:</strong> (ex: movies, music) You are responsible for monitoring that all movies, music that other workers listen to/watch is appropriate, not offensive to members/children, and at a reasonable volume.</li>
<li><strong>Be proactive:</strong> Look for things to do before you do homework. (Put away volleyball, Wally ball nets, check racquetball courts, locker rooms, other workers)</li>
<li><strong>No headphones while on duty for supervisors or other Dow workers</strong></li>
<li><strong>Look up at doors frequently:</strong> Do not let homeowrk or any activity prevent this.</li>
<li><strong>If privileges become problem or are abused, they will be revoked</strong></li></ul></p>

<h5><span class="underlineBold">DUTIES AND RULES</span></h5>
 <p><div class="underlineBold subsectionTitle">Opening Shift:</div><ul>
     <li>You must arrive 15 minutes before open(6:40am weekdays, 830am Saturday, 1:00pm Sunday) to let yourself and the other employees in the building.</li>
     <li>Within these 15 minutes it is your job to open the building by:<li><ul>
	 <li>Removing the orange bars off all the exits(if maintenance hasn't already)</li>
	 <li>Unlock all of the doors going into the weight-room/track/cardio room</li>
	 <li>Remove all the bars off the back gym doors</li></ul>
       <li>Once everything is open and all the other employees are where they're suppose to be; unlock the front doors</li></ul></p>

<p><div class="underlineBold subsectionTitle">Closing Shift:</div><ul>
    <li>Lock the front doors at 15 minutes till close</li>
    <li>Take the Door Guard book back to the equipment room</li>
    <li>Within the next 15 minutes it's your job to:<ul>
	<li>Make sure things are being picked up in the weight-room and gym</li>
	<li>Make sure all members/students leave by close(12am weekdays, 11pm Saturday/Sunday)<ul>
	    <li>After they leave make sure to put the orange bars on the exit doors they go on</li>
	    <li>Put the bars on the back doors to the gym</li>
	    <li>Shut off and lock up the weight-room sound system</li>
	    <li>Lock up all the dooors into the weight-room, cardio-room, track, classrooms, and dance studios</li></ul></ul>
    <li>Put the Supervisor keys on the hook in the metal box in the office</li><ul>
      <li>Do NOT lock the pad-lock on the outside</li></ul>
    <li>Any completed weight-room or supervisor checklist sheets need to be slipped under the Assistant Director's door while you're leaving</li></ul></p>

<p><div class="underlineBold subsectionTitle">Watching Doors:</div><ul>
    <li><strong>Look up frequently:</strong> watch doors for people sneaking, espically problematic: 11:30am-1:00pm and 5:00pm-8:00pm</li>
    <li><strong>If you catch someone sneaking in:</strong><ul>
	<li>Take name and phone number</li>
	<li>Take name and phone number of member who let them in</li>
	<li>Give information to Brian Morehouse immediately</li>
	<li>Make them pay or leave</li>
	<li>If they refuse to leave they are on private property and you have right to call Campus Safety</li></ul></ul></p>

<p><span class="underlineBold">Supervising Other Workers:</span><ul>
    <li><strong>Demand workers to do jobs correctly:</strong> You are expected to confront workers when not doing their job, but if you feel the need to involve the Director/Assistant Director, do so and they will handle the situation.</li>
    <li><strong>Read their job descriptions:</strong> know how they should be doing their jobs.</li>
    <li><strong>If worker is late or does not show up:</strong><ul>
	<li><span class="underlineBold">Check sub document:</span> Call whoever should be working. If no answer, find sub.</li>
	<li><span class="underlineBold">Write:</span>their name, time, position on supervisor checklist.</li>
	<li><span class="underlineBold">Sit at position:</span> until late person, sub, or next worker arrives.</li></ul>
      <li><strong>When any situations arise with workers(disciplinary, late, no show, etc.):</strong> Write it down on the supervisor checklist, and <strong>  ALSO</strong> <span class="underlineBold"> E-mail Director & Assistant Director </span> to describe the incident/issue that happened. If it is found that there were issues that are NOT reported, the supervisor WILL be held responsible. Supervising your peers is challenging, but no matter if you know the worker or not, you NEED to report it(no protecting your friends)</li></ul></p>

<p><div class="underlineBold subsectionTitle">Dow Equipment Room Phone:</div><ul>
    <li>No personal calls may be made from any Dow phones. Feel free to use your own cell phone to contact workers if that is easier.</li></ul></p>

<p><div class="underlineBold subsectionTitle">Priority List:</div> If worker is no-show or late, priority list for positions to cover(listed in order of importance):<ul>
    <li>Pool(liability)</li>
    <li>Weight Room(liability)</li>
    <li>Equipment Room</li>
    <li>Door</li></ul></p>
	    
<p><div class="underlineBold subsectionTitle">Rounds:</div><ul>
    <li><strong> Responsible for:</strong> What goes on in the building, why you get paid more.</li>
    <li><strong> When:</strong> Rounds should start every half hour, and last 10 minutes, so there should be 20 minutes maximum between each round, (i.e. most days, rounds will happen at the top of every hours, and on the 1/2 hour. 1:00, 1:30, 2:00, 2:30...)</li>
    <li><strong>What to do:</strong><ul>
	<li><span class="underline"> Fill out checklist and make comments if necessary.</span> Refer to checklist instructions for suggestions.</li>
	<li><span class="underline">Check hallways:</span> Equipment cannot leave cardio or weight room areas, includes dumbbells, free weights, stability balls, etc...</li>
	<li><span class="underline"> Lifeguard:</span> Make sure you enter the pool to make sure the lifeguard does not need a bathroom break. There needs to be supervision in the pool 100% of the time, and supervisor should be the only workers who sit in for them briefly.</li>
	<li><span class="underline">Check the locker room and saunas:</span></li><ul>
	  <li><em>Saunas are dry</em>, cannot have water sprinkled or poured on them.</li>
	  <li><em>If you catch someone doing this:</em> Get name, alert Director/Assistant Director IMMEDIATELY.</li></ul></ul></ul></p>

<p><div class="underlineBold subsectionTitle">Deposits:</div><ul>
    <li><strong>When:</strong> If balances at the door or equipment room are $50 or more.</li>
    <li><strong>How much to leave:</strong> Balances should have base amounts of $25.</li>
    <li><strong>What to do:</strong><ul>
	<li>Put in envelope</li>
	<li>Write: "door" or "ER", date, your name.</li>
	<li>Slide under Assistant Director's door.</li></ul></ul></p>

<p><div class="underlineBold subsectionTitle">Unlocking Rooms:</div><ul>
    <li><strong>Do not let anyone into office after hours:</strong> Professors should set arrangements themselves.</li>
    <li><strong>SB Key:</strong> Locks/unlocks classrooms, front office, outside doors, closets</li>
    <li><strong>L4 Key: </strong> Locks/unlocks saunas in case of issues</li>
    <li><strong>Square handled key: </strong> Raises/lowers curtains, basketball hoops, and baseball cages</li><ul>
      <li>These access points are on the gym walls parallel to the equipment you need to raise/lower</li></ul>
    <li><strong>Small keys:</strong> Used to open the weight-room and gym sound system</li><ul>
      <li>Weight-room iPod is the only form of music allowed to be played in the weight-room unless a Health Dynamics PROFESSOR brings in an appropriate CD</li>
      <li>Absolutely NO radio, if the iPod is not working then the weight-room will go silent</li>
      <li>The gym sound system should only be used when a coach is with his team and has appropriate music</li></ul>
    <li><strong>Dance Studios:</strong></li><ul>
      <li><strong>Who to let in</strong></li><ul>
	<li><em>Those signed up</em>: ALL DANCE STUDIOS MUST BE RESERVED ON EMS. Check the equipment room computer if an issue arises. Reservation should be made with the Dance Department Secretary at 395-7690.</li>
	<li><em>Groups with permission</em>: Must be entered in EMS to be able to use the studio.</li></ul>
      <li><strong>SE Key:</strong> Locks, unlocks dance studios</li></ul>
    <li><strong>SD4 Key: </strong>Unlocks Athletic Training Room</li><ul>
      <li><strong>ONLY</strong> reasons to go in: Get ice for equipment room, let in a Health Dynamics assistance</li></ul></ul></p>

<p><div class="underlineBold subsectionTitle">Freezer in Equipment Room</div> Stock with ice cups, bags before trainers/instructors leave, cannot go in AT or Health Dynamics room after they leave for any reason. Keep 20 ice bags stocked for any injuries that happen to students/community members.</p>

 <p><span class="underlinBold">Subs:</span><ul>
     <li><strong>Who can sub:</strong> Only Dow supervisors may sub for you,  must complete training with Director/Assistant Director.</li>
     <li><strong>Subbing in other positions:</strong> You are able to sub for other positions, but YOUR PRIORITY MUST BE SUBBING FOR OTHER SUPERVISORS</li></ul></p>

 <h5><span class="underlineBold">DOW SUPERVISOR EMERGENCY PROTOCOLS</span></h5>

<p>When EMERGENCY SITUATIONS happens at the Dow, we want our supervisors to know with 100% certainty what they're supposed to do. We are incorporating our Dow lifeguards into our emergency action plans, because in many situations (CPR, AED & First Aid certification) they have more emergency training than our superivosrs. See here are your protocols:</p><ul>
  <li>If the person involved in the emergency is CONSCIOUS BUT NEEDS MORE ASSISTANCE THAN YOU CAN GIVE: You must:<li><ol>
      <li>Call Campus Safety Immediately.</li>
      <li>Alert/send someone to get the Dow Lifeguard to come and assist. Campus safety will determine if the ambulance should be called. (use common sense and if you can CLEARLY determine that an ambulance will be needed do not dely in calling them).</li></ol>

    <li>If the person involved is UNCONSCIOUS: You must:</li><ol>
      <li> Call 911 & Campus Safety Immediately</li>
      <li> Alert/send someone to get the Dow Lifeguard to come and assist<br>
	The AED should be present at the scene, and the lifeguard will be the first responder until the ambulance arrives.</li></ol>

  <li>PLEASE DELEGATE TO ANYONE AROUND THE FOLLOWING TASKS:</li><il>
    <li> Getting the AED.</li>
    <li> Calling 911/Campus Safety</li>
    <li> Running to get the lifeguard. You should never leave the patient, so do not feel as though you need to do everything. Anyone around can help with those tasks.</li></ol></ul>

<p> IF THE LIFEGUARD IS CALLED AWAY FROM THE POOL, THE POOL WILL BE TEMPORARILY CLOSED AND MUST BE EVACUATED BY ANYONE USING IT AT THE TIME(with the exception of a supervised Hope swim practice).</p>
</div>
