<% provide(:title, "Admin") %>
<% provide(:subpage_title, "Home") %>
<h1>Admin Home Page</h1>

<div class="devMessage">
DowWeb 1.0.0 has been released! More to come.
</div>

<%= link_to "Message", message_path %>
