<% provide(:title, "Admin") %>
<% provide(:subpage_title, "Message") %>

<h1>Admin to Worker Message Page </h1>


<%= render 'layouts/shim' %>
<% if signed_in? && current_user.admin? %>
<div >
  <section>
    <%= render :partial => '/admin_pages/message_form' %>
  </section>
</div>

<% else %>
<div>
 "Unauthorized access."
</div>
<% end %>
