<% provide(:title, "Admin") %>
<% provide(:subpage_title, "Message") %>

<h1>AdminPages#message</h1>
<p>Find me in app/views/admin_pages/message.html.erb</p>

<%= render 'layouts/shim' %>
<% if signed_in? && current_user.admin? %>
<div >
  <section>
    <%= render :partial => '/admin_pages/message_form' %>
  </section>
</div>

<% else %>
<div>
 "Unauthorized access."
</div>
<% end %>
