<% provide(:title, "Regular Worker") %>
<% provide(:subpage_title, "Home") %>
<h1>Regular Worker Home Page</h1>

<div>
  <% if Micropost.find_all_by_regular(true).any? %>
  <h3> Message from Coach Mo and Coach V</h3>
  <ol class="microposts">
   
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %>
  <% end %>
</div>
