<% provide(:title, "Regular Worker") %>
<% provide(:subpage_title, "Rules and Protocols") %>
<h1>RegularWorkerPages#rules_and_protocols</h1>

<div class="weightroom">
  <div class="wrTitle">
    <span> Dow Weight Room Responsibilities</span>
    </div>
   <ul>
     <li>Members are your first priority</li>
     <ul>
       <li> Look up and greet as people enter the weight room</li>
       <li> Offer to spot lifters</li>
       <li> Children under 12 must be closely supervised by an adult</li>
       <li> Remind people that equiment is not allowed to leave cardio or weight areas (be an enforcer)</li>
       </ul>
     <li>Rounds</ul>
       <ul>
	 <li>Must be done every 15 minutes</li>
	 <li>Follow check list accordingly</li>
	 <li>Walk through weight room, cardio room and to the track deck, ensuring all is in proper order</li>
	 </ul>
       <li>Weight room order<li>
	<ul>
	  <li>Weight plates must be racked at all times unless being used</li>
	  <li>Dumbbells must be organized in specified homes</li>
	  <li>Respectfully remind lifters to return weights to proper place</li>
	  </ul>
	<li>Worker Expectations</li>
	<ul>
	  <li>Abosolutely NO SANDALS OR FLIP FLOPS. Closed toe shoes only. This is for your own protection.</li>
	  <li>Report any damaged or broken equipment to the supervisor</li>
	  <li>You may listen to music on your computer but absolutely no headphones and the music must be appropriate.</li>
	  <li>HOMEWORK IS A PRIVELEGE - This priviledge can be taken away. Do not let homeowrk interfere with being alert. Always watch for possible injury, accident or dangerous use of equipment.</li>
	  </ul>
	</ul>
</div>

<div class="door">
  <div class="doorTitle">
    Dow Door Guard Responsibilities
  </div>
  <ul>
    <li>Worker Expectations
      <ul>
	<li>Work attire must be Hope affiliated if choosing to represent a college.</li>
	<li>Remain in chair. Do NOT sit on floor or outside front doors.</li>
	<li>You may listen to music on your computer but absolutely no headphones, and the music must be appropriate.</li>
	<li>HOMEWORK IS A PRIVILEDGE - This priviledge can be taken away. Do not let homework interfere with being alert.</li>
	<li>CELL PHONE - Emergency use only! NOT for personal calls.</li>
	</ul>
    <li>Members are your first priority</li>
    <ul>
      <li>Greet each person</li>
      <li>Check IDs(check expiration date. $5 reward/expired card)</li>
      <li>No ID = NO Dow use</li>
      <li>Guest must be accompanied BY A MEMBER</li>
      <li>Two guests allowed per member - $5 entry per guest</li>
      <li>All guests must be marked in the door guard deposit book</li>
      <li>Day Passes - Receive and place in deposit book.<br>
	If requested, are available for purchase in front office</li>
      <li>Deposit book total should not be greater than $40</li>
      <li>Outside groups using the Dow must enter together and have the signed contract with them</li>
      <li>Make sure you read any notes that are posted because that is how I will inform you if special groups or arrangements have been made. I will tape them to the right side of the desk.</li>
      <li>Ask Supervisor when in doubt</li>
      </ul>
    </ul>
  </div>

<div class="equipmentRoom">
  <div class="erTitle">
    Equipment Room Responsibilities
    </div>
 </div>
