<% provide(:title, "Lifeguard") %>
<% provide(:subpage_title, "Rules and Protocols") %>
<h1>Lifeguard Rules and Protocols</h1>

<div class="lifeguardContainter">
  <div class="underlineBold redtext">
   <h5> Lifeguard Responsibilities</h5>
  </div>
 
 <p><strong>Clothing:</strong> Swimsuit and/or shorts and t-shirt; no street shoes, jeans, etc</p>

 <p><strong>Telephone Use:</strong> Emergencies(x7770) or to call Equipment Room(x7702) for replacement or extra guard.</p>

  <p><div class="subsectionTitle"><strong>Stay for Entire Shift:</strong></div><ul>
      <li><span class="bluetext">Stay until replacement arrives:</span> whether people in pool or not</li>
      <li><span class="bluetext">Must get to class, next worker late:</span> Call equipment room (10) minutes before class, supervisor or door guard sits-in, allowing you (5) minutes to reach class.</li></ul></p>
  <p><div class="subsectionTitle"><strong>Breaks:</strong></div><ul>
      <li><span class="orangetext">Bathroom breaks only</span>: Must have supervisor or door guard sit in pool area whether empty or not.</li>
      <li><span class="orangetext">No meal breaks</span>: May not leave pool area! May eat on bleachers only if pool area is empty!</li></ul></p>
  <p><ul>Maximum Number:
      <li>(75)swimmers in pool for (1) lifeguard</li>
      <li>If 75 swimmers: Get second lifeguard; stop swimmers from entering pool</li></ul></p>


  <div class="underlineBold redtext">
   <h5> Duties & Rules</h5>
    </div>
  <p><div class="subsectionTitle"><strong>People in Pool Area:</strong></div><ul>
      <li><strong>Absolutely no homework or other activity!</strong></li>
      <li><strong>No talking on cell phone</strong></li>
      <li><strong>No headphones</strong></li></ul><br>
      **<span class="red">RED TUBE</span> in hands or on lap</p>

  <p><div class="subsectionTite"><strong>Position:</strong></div><ul>
      <li><span class="darkred">Walking around pool or sitting in lifeguard chair</span>: NO guarding from blue folding chairs or bleachers!</li>
      <li><span class="darkred">Diving Well</span>: If people are in diving well, YOU MUST be in lifeguard chair!</li></ul></p>
									
  <p><div class="subsectionTitle"><strong>Pool Area Empty</strong></div><ul>
      <li> Spray off and pickup deck at least one time during shift.</li>
      <li> Pay speical attention to walkway by locker room and along back wall.</li>
      <li>Spray dirt, garbage toward drains. Clean out drains using disposable gloves.</li>
      <li>Stop studying as soon as swimmers arrive</li>
      <li>Remain in pool area at all times</li>
      <li> If problems or privileges are abused, will be revoked!</li></ul></p>

<div class="aligncenter">
<b>SWIM TEAM PRACTICE</b>
<p><span class="bluetext">Only</span> exception to homework rule: may do homework during designated swim practices.<br>
  DESIGNATED SWIM PRACTICES are when a <span class="redtext">COACH</span> is on pool deck, NOT just anytime when person from swim team comes in.<br>
<br>
REMOVE LANE LINES <span class="redtext">TUESDAY NIGHTS! </span><br>
(Failure to do so will be a srike)
</p>
</div>
</div>
