// Place all the styles related to the RegularWorkerPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.mainContainer {
	       background-color: #FFF;
	       max-width: 950px;
	       min-width: 550px;
	       margin: auto;
	       margin-top: 40px;
	       height: auto;
}