<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="containter">
      <%= link_to "Dow Center Worker Web", home_path, id: "logo" %>
      <nav>
	<ul class="nav pull-right">
	  <li><%= link_to "Home", admin_path %></li>
	  <li><%= link_to "Message", message_path %></li>
	  <li><%= link_to "Signout", signout_path %></li>
	  </ul>
	</nav>
      </div>
    </vic>
</header>
