<footer class="footer">
  
   <div class="footerContainer">
    <small> &copy; Hope College Dow Center Worker made by Hsiang Lin </small> 
    <nav>
      <ul>
	<li><a href="http://www.hope.edu">Hope College</a></li>
      </ul>
      </nav>
   </div>
    
  </footer>
