<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="containter">
      <nav>
	<ul class="nav pull-right">
	  <li><%= link_to "Home", lifeguard_path %></li>
	  <li><%= link_to "Rules/Protocol", lg_rules_path %></li>
	  <li><%= link_to "Sign out", signout_path %></li>
	  </ul>
	</nav>
      </div>
    </vic>
</header>
