<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="containter">
      <%= link_to "Dow Center Worker Web", home_path, id: "logo" %>
      <nav>
	<ul class="nav pull-right">
	  <li><%= link_to "Home", regular_path %></li>
	  <li><%= link_to "Rules/Protocol", reg_rules_path %></li>
	  <li><%= link_to "Signout", signout_path, method: 'delete' %></li>
	</ul>
	</nav>
      </div>
    </vic>
</header>
